<% provide(:title, 'ボランティア募集投稿一覧') %>
<%= render 'shared/header' %> 
<%= render partial:'shared/second_header', locals:{ title: 'ボランティア一覧' } %> 

<div class='w-full bg-gray-200 font-sans'>
  <div class='grid place-items-center py-14'>
  </div>
</div>