<%= render 'shared/header' %>

<div class='h-screen w-full bg-gray-200 flex justify-center'>
  <div class='h-96 w-full sm:w-176 lg:w-240 bg-white mt-10 rounded hover:shadow-xl'>
    <%= render @notifications %>
  </div>
</div>