<footer>
  <div class='h-14 w-full bg-gray-300 flex justify-center items-center'>
    <%= image_tag 'copyright_mark.png' class:'h-5 w-5' %>
    <span class='text-lg mx-2'>2021</span>
    <span class='text-xl font-bold'>こみゅにてぃあ</span>
  </div>
</footer>