<% unless @account.already_volunteer_cheered?(volunteer, @account) %>
  <%= button_to volunteer_cheers_path(volunteer.id), class:'cheering_on_btn', remote: true do %>
    <%= image_tag 'cheering_off_icon.png', class:'h-5 w-5 mr-2'%>
    <span>応援する</span>
  <% end %>
<% else %>
  <%= button_to "/volunteers/#{volunteer.id}/cheers/cheer.id" , method: :delete, class:'cheering_off_btn', remote: true do %>
    <%= image_tag 'cheering_on_icon.png', class:'h-5 w-5 mr-2'%>
    <span>応援中</span>
  <% end %>
<% end %>