<%= render 'shared/header' %>

<div class='h-screen w-full bg-gray-200 font-sans'>
  <div class='grid place-items-center pt-14'>
    <div class='w-full flex flex-col md:flex-row justify-center px-2'>
      <div class='h-80 w-full md:w-80 bg-white hover:shadow-md mb-4 md:mr-2'>
        <p>あああああああああ</p>
      </div>
      <div class='h-192 w-full lg:w-176 flex-1 lg:flex-none bg-white hover:shadow-md md:ml-2'>
        <p>あああああああああ</p>
      </div>
    </div>
  </div>
</div>