
<div class='h-screen w-full bg-gray-200 flex flex-col font-sans'>
  <div class='grid place-items-center mx-2 my-auto'>
    <div class='w-11/12 md:w-192 p-4 sm:p-8 md:p-10'>
      <h2 class='text-3xl font-bold text-center text-gray-800 mb-5'>新規登録選択</h2>
      <div class='flex justify-center'>
        <div class='mr-1 sm:mr-3 md:mr-5'>
          <%= link_to(new_user_registration_path) do %>
            <div class='choice_block left'>
              <img src='/assets/user_icon.png' class='h-2/5 w-1/3 mb-4'>
              <p class='text-sm md:text-xl font-semibold'>・ユーザー</p>
              <p class='text-sm md:text-xl font-semibold'>・個人</p>
            </div>
          <% end %>
        </div>
        <div class='ml-1 sm:ml-3 md:mr-5'>
          <%= link_to(new_group_registration_path) do %>
            <div class='choice_block right'>
              <img src='/assets/group_icon.png' class='h-2/5 w-1/3 mb-4'>
              <p class='text-xs sm:text-sm md:text-xl font-semibold'>・社会福祉法人</p>
              <p class='text-xs sm:text-sm md:text-xl font-semibold'>・学校法人</p>
              <p class='text-xs sm:text-sm md:text-xl font-semibold'>・市民活動団体</p>
              <span class='text-xs sm:text-sm md:text-xl font-semibold ml-auto'>など</span>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to 'もどる', root_path, class:'return_mini_btn' %>
      <div class='mt-8 text-sm text-center'>        
      </div>
    </div>
  </div>
</div>
