
<% if chat.speakable_id == @account.id && chat.speakable_type == @account.type%>
  <div class='flex items-end justify-end mt-4'>
    <span class='text-sm mr-1'><%= chat.updated_at.strftime('%H:%M') %></span>
    <div class='chat myself'>
      <span><%= chat.message %></span>
    </div>
  </div>
<% else %>
  <div class='flex items-end justify-start mt-4'>
    <div class='chat partner'>
      <span><%= chat.message %></span>
    </div>
    <span class='text-sm ml-1'><%= chat.updated_at.strftime('%H:%M') %></span>
  </div>
<% end %>