

	/* 640px以上に適用されるCSS */
@media screen and (min-width: 640px) {
  .preview{
    height: 320px;
    width:  320px;
    margin: auto;
  }
}

.preview{
  height: 192px;
  width:  192px;
  margin: auto;
}